<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/robo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app_home.css') }}">
    <title>Welcome to DetectorPhishing</title>
</head>
<body>
    <!-- Vídeo de fundo -->
    <video class="video-background" autoplay muted loop>
        <source src="{{ url_for('static', filename='images/plano-fundo.mp4') }}" type="video/mp4">
        Seu navegador não suporta o formato de vídeo.
    </video>

    <div class="container">
        <header>
            <h2 class="title-page">Welcome to DetectorPhishing</h2>
        </header>
        <div id="logo-homer">
            <img id="logo" src="{{ url_for('static', filename='images/robo.png') }}" alt="Logo do DetectorPhishing">
        </div>
        <div class="text">
            <p>Este projeto visa detectar links maliciosos com base no estereótipo de URLs.</p>
        </div>
        <div class="gatways">
            <div class="main">
                <a href="{{ url_for('app.detector') }}" class="button">Enter</a>
            </div>
        </div>
    </div>
</body>
</html>
